.TodoCard{
    margin-bottom: 40px;
}

.card-header{
    background: #007BFF;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
}

.card-title{
    font-weight: bolder;
}

.card{
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#removeCard{
    color: white;
    background: none;
    border: none;
}